<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Login</div>
                <div class="panel-body">
                    <div class="alert alert-danger" ng-show="error.message">
                        <strong>Whoops!</strong> There were some problems with your input.<br><br>
                        <ul>

                            <li>{{ error.message}}</li>

                        </ul>
                    </div>
                    <login-form></login-form>
                </div>
            </div>
        </div>
    </div>
</div>