<section class="main">
    <div class="container">
       
        <div class="row">
            <div class="col-xs-12">
                <div class="boxed-manager">
                    <div class="boxed-manager-menu">
                        <ul class="boxed-manager-menu-nav">
                            <li class="boxed-manager-menu-nav-header">
                                <h3 class="h4">
                                    Projetos
                                    <div class="btn-group pull-right">
                                        <a href="" class="btn btn-primary btn-sm text-upper">
                                            <small>Ver todos</small>
                                        </a>
                                        <a href="" class="btn btn-default btn-sm">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </div>
                                </h3>
                            </li>
                            <li class="boxed-manager-menu-nav-item" ng-repeat="p in projects.data">
                                <a href="javascript:void(0);" ng-click="showProject(p);">
                                    <header>
                                        <h4 class="h4 text-boulder">{{p.name}}</h4>
                                        <small class="text-upper text-silver">{{p.data.client.name}}</small>
                                    </header>
                                    <p class="status {{ projects.config.get(p.status).class}}">
                                        <i class="fa fa-circle"></i> <span>{{ projects.config.get(p.status).label}}</span>
                                    </p>
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="boxed-manager-main arrow">
                        <div class="boxed-manager-main-header">
                            <h4 class="h4">
                                {{project.name}} <small>({{task.getPercentageCompleted()}}%)</small>

                                <div class="btn-group pull-right">
                                    <a ng-href="{{editar ? '#/project/' + project.id + '/edit' : ''}}" class="btn btn-default btn-xs" ng-click='permitions("Editar")' title="Editar" required>
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a ng-href="{{editar ? '#/project/' + project.id + '/remove' : ''}}" class="btn btn-danger btn-xs" ng-click='permitions("Apagar")' title="Apagar" required>
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </div>
                            </h4>
                        </div>

                        <div class="boxed-manager-main-body">
                            <div class="btn-group" role="tablist" tabs-code-education>
                                <a href=""
                                   aria-controls="detalhes"
                                   role="tab"
                                   data-toggle="tab"
                                   class="btn btn-default active">
                                    Detalhes
                                </a>
                                <a href=""
                                   aria-controls="tarefas"
                                   role="tab"
                                   data-toggle="tab"
                                   class="btn btn-default">
                                    Tarefas
                                </a>
                                <a href=""
                                   aria-controls="arquivos"
                                   role="tab"
                                   data-toggle="tab"
                                   class="btn btn-default">
                                    Arquivos
                                </a>
                                <a href=""
                                   aria-controls="anotacoes"
                                   role="tab"
                                   data-toggle="tab"
                                   class="btn btn-default">
                                    Anotações
                                </a>
                            </div>

                            <br/>
                            <br/>

                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="detalhes">
                                    <p>{{project.description}}</p>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="tarefas">                                    
                                    <div class="task-list" >

                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <div  role="tablist" 
                                                      start-collapsed="true" 
                                                      aria-multiselectable="false" 
                                                      bs-collapse>
                                                    <button type='button' class="btn-sm btn-default save" bs-collapse-toggle>
                                                        Nova Tarefa
                                                    </button>

                                                    <div class='list-collapse' bs-collapse-target>
                                                        <form name='projectTaskForm' class="form-horizontal" role="form" ng-submit="task.save();">
                                                            <div class="form-group" ng-class="{'has-error': !projectTaskForm.name.$valid && projectTaskForm.name.$touched}">
                                                                <label class="col-md-4 control-label">Nome</label>
                                                                <div class="col-md-6">
                                                                    <input type="text" class="form-control" name="name" ng-model="task.projectTask.name" required="required">
                                                                    <div ng-messages="projectTaskForm.name.$error" class="help-block" ng-show="projectTaskForm.name.$touched">
                                                                        <div ng-message="required">Campo Obrigatório!</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" ng-class="{'has-error': !projectTaskForm.start_date.$valid && projectTaskForm.start_date.$touched}">
                                                                <label class="col-md-4 control-label" for="start_date">Início: </label>
                                                                <div class="col-md-6">
                                                                    <p class="input-group">
                                                                        <input type="text" class="form-control" name="start_date"
                                                                               datepicker-popup="dd/MM/yyyy" 
                                                                               ng-model="task.projectTask.start_date" 
                                                                               is-open="task.start_date.status.opened"
                                                                               close-text="Close" />
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default" ng-click="task.start_date.open($event)">
                                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                                            </button>
                                                                        </span>
                                                                    </p>
                                                                    <div ng-messages="projectTaskForm.start_date.$error" class="help-block" ng-show="projectTaskForm.start_date.$touched">
                                                                        <div ng-message="date">Data inválida!</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" ng-class="{'has-error': !projectTaskForm.due_date.$valid && projectTaskForm.due_date.$touched}">
                                                                <label class="col-md-4 control-label" for="due_date">Data de término: </label>
                                                                <div class="col-md-6">
                                                                    <p class="input-group">
                                                                        <input type="text" class="form-control" name="due_date"
                                                                               datepicker-popup="dd/MM/yyyy" 
                                                                               ng-model="task.projectTask.due_date" 
                                                                               is-open="task.due_date.status.opened"
                                                                               close-text="Close"/>
                                                                        <span class="input-group-btn">
                                                                            <button type="button" class="btn btn-default" ng-click="task.due_date.open($event)">
                                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                                            </button>
                                                                        </span>
                                                                    </p>
                                                                    <div ng-messages="projectTaskForm.due_date.$error" class="help-block" ng-show="projectTaskForm.due_date.$touched">
                                                                        <div ng-message="date">Data inválida!</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group" >
                                                                <label class="col-md-4 control-label">Status</label>
                                                                <div class="col-md-6">
                                                                    <select class="form-control" name="status"  
                                                                            ng-options="s.value as s.label for s in task.status"
                                                                            ng-model="task.projectTask.status">
                                                                        <option value="">-- Seleciona um status --</option>
                                                                    </select>

                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="col-md-6 col-md-offset-4">
                                                                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item" ng-repeat="t in project.tasks.data">                                                
                                                <h6 class="task-list-title">{{t.name}}</h6>
                                                <p>
                                                    <b>Status: </b>{{t.status}}<br />
                                                    <b>Iniciada em: </b>{{t.start_date| dateBr }}<br />
                                                    <b>A concluir em: </b>{{t.due_date| dateBr }}<br />
                                                </p>                                                    

                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="arquivos">
                                    <div class="files-list-blocks">
                                        <a href="" ng-repeat="f in project.files.data" class="text-center">
                                            <h4>{{f.name}}</h4>
                                            <img src="build/images/icons/ico-{{f.extension}}.png" alt="" />
                                            <project-file-download project-id="{{f.project_id}}" id-file="{{f.id}}"></project-file-download>
                                        </a>
                                        <!--a href="" ng-repeat="f in project.files.data">
                                            <img src="build/images/icons/ico-ai.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-css.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-doc.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-eps.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-flash.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-html.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-jpg.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-mp3.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-mp4.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-pdf.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-php.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-png.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-txt.png" alt="" />
                                        </a>
                                        <a href="">
                                            <img src="build/images/icons/ico-xml.png" alt="" />
                                        </a-->
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="anotacoes">
                                    <div class="notes-list">
                                        <div class="notes-list-item note-type-status-changed" ng-repeat="n in project.notes.data">
                                            <a href="" class="avatar avatar-xs">
                                                <img src="build/images/avatar.png" alt=""/>
                                            </a>
                                            <div class="notes-list-body">
                                                <h6>
                                                    {{n.title}}
                                                    <span class="time">3 minutes ago</span>
                                                </h6>
                                                <p class="notes-list-body-content">
                                                    {{n.note}}
                                                </p>
                                            </div>
                                        </div> <!-- /notes-list-item ->
                                        <div class="notes-list-item note-type-task-completed">
                                            <a href="" class="avatar avatar-xs">
                                                <img src="build/images/avatar.png" alt=""/>
                                            </a>
                                            <div class="notes-list-body">
                                                <h6>
                                                    <span class="user">Sample Admin</span> completed a task
                                                    <span class="time">2 years ago</span>
                                                </h6>
                                                <p class="notes-list-body-content">
                                                    <input type="checkbox" name="" id="" disabled="disabled" checked="checked" />
                                                    Design the new landing page
                                                </p>
                                            </div>
                                        </div> <!-- /notes-list-item ->
                                        <div class="notes-list-item note-type-attachement">
                                            <a href="" class="avatar avatar-xs">
                                                <img src="build/images/avatar.png" alt=""/>
                                            </a>
                                            <div class="notes-list-body">
                                                <h6>
                                                    <span class="user">Sample Admin</span> upload a file
                                                    <span class="time">2 years ago</span>
                                                </h6>
                                                <p class="notes-list-body-content">
                                                    <a href="">
                                                        <i class="fa fa-paperclip"></i> preview.jpg
                                                    </a>
                                                </p>
                                            </div>
                                        </div> <!-- /notes-list-item ->
                                        <div class="notes-list-item note-type-message">
                                            <a href="" class="avatar avatar-xs">
                                                <img src="build/images/avatar.png" alt=""/>
                                            </a>
                                            <div class="notes-list-body">
                                                <h6>
                                                    <span class="user">Sample Admin</span> posted a message on a project
                                                    (<a href="">Sample Project</a>)
                                                    <span class="time">2 years ago</span>
                                                </h6>
                                                <p class="notes-list-body-content">
                                                    Hi. John asked me to look at the changes. Everythins looks greate!
                                                </p>
                                            </div>
                                        </div--> <!-- /notes-list-item -->
                                    </div> <!-- /notes-list -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="boxed-manager-info">
                        <div class="boxed-manager-info-header">
                            <h4 class="h4">Estatísticas do projeto</h4>
                        </div>
                        <div class="boxed-manager-info-body">
                            <div class="boxed-manager-info-body-chart text-center">
                                <div class="radial-progress radial-progress-lg radial-progress-danger" data-progress="{{task.getPercentageCompleted()}}">
                                    <div class="circle">
                                        <div class="mask full">
                                            <div class="fill"></div>
                                        </div>
                                        <div class="mask half">
                                            <div class="fill"></div>
                                            <div class="fill fix"></div>
                                        </div>
                                        <div class="shadow"></div>
                                    </div>
                                    <div class="inset">
                                        <div class="percentage">
                                            <div class="numbers">{{task.getPercentageCompleted()}}%</div>
                                        </div>
                                    </div>
                                </div>

                                Progresso esperado: 100%
                            </div>
                            <ul class="list-styled">
                                <li class="list-styled-header text-upper text-center">
                                    Cliente
                                </li>
                                <li class="text-center text-silver">{{project.client.data.name}}</li>
                                <li class="list-styled-header text-upper text-center">
                                    Data de entrega
                                </li>
                                <li class="text-center text-silver">{{project.due_date| dateBr}}</li>
                                <li class="list-styled-header text-upper text-center">
                                    Tarefas ({{task.totalTasks}})
                                </li>
                                <li class="text-center text-silver">{{ (task.totalTasks - task.totalCompleted)}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>