<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <a href="#/project/{{project.id}}/notes" class="btn btn-success">notas</a>
            <a href="#/project/{{project.id}}/files" class="btn btn-success">Arquivos</a>
            <a href="#/project/{{project.id}}/tasks" class="btn btn-success">Tarefas</a>
            <a href="#/project/{{project.id}}/members" class="btn btn-success">Membros</a>
        </div>
    </div><br />
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>{{project.name}}</h2>

                </div>
                <div class="panel-body">
                    <div class="row col-md-offset-1">
                        <h3>Descrição</h3>
                        <p>{{project.description}}</p>
                    </div>
                    <div class="row col-md-offset-1">
                        <h3>Cliente: 
                            <small>{{project.client['data'].name}}</small>
                        </h3>
                    </div>
                    <div class="row col-md-offset-1">
                        <h3>Progresso: 
                            <small>{{project.progress}}%</small>
                        </h3>

                    </div>
                    <div class="row col-md-offset-1">
                        <h3>Status: 
                            <small >{{status}}</small>
                        </h3>
                    </div>
                    <div class="row col-md-offset-1">
                        <h3>Data de entrega: 
                            <small>{{ project.due_date | dateBr }}</small>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>