<div class="container-fluid" ng-controller="ProjectNoteShowController">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Title:</strong> {{ projectNote.title }}</div>
                <div class="panel-body">                    
                    <div class="col-lg-12">
                        <strong>Nota</strong> {{projectNote.note}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>