<div class="container-fluid" >
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Cliente:</strong> {{client.name}}</div>
                <div class="panel-body">
                    <p class="col-md-12">
                        <strong>Responsável:</strong> {{client.responsible}}
                    </p>
                    <p class="col-lg-12">
                        <strong>E-mail:</strong> {{client.email}}
                    </p>
                    <p class="col-lg-12">
                        <strong>Telefone:</strong> {{client.phone}}
                    </p>
                    <p class="col-lg-12">
                        <strong>Endereço:</strong> {{client.address}}
                    </p>
                    <p class="col-lg-12">
                        <strong>Obs.:</strong> {{client.obs}}
                    </p>
                   
                </div>
            </div>
        </div>
    </div>
</div>